/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* DARK MODE */
body.dark {
  background: #0f0f0f;
  color: white;
}

body {
  background: #f2f2f2;
}

.screen {
  width: 100%;
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
}

.hidden {
  display: none;
}

#login-screen input,
#send-box input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid #bbb;
}

button {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  background: #ff5577;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid #ddd;
}

#messages {
  height: 70vh;
  overflow-y: auto;
  padding: 10px;
}

/* CHAT BUBBLES */
.msg {
  max-width: 75%;
  margin: 8px;
  padding: 10px 14px;
  border-radius: 12px;
  background: white;
  color: black;
}

.me {
  margin-left: auto;
  background: #ff5577;
  color: white;
}

/* SEND BOX */
#send-box {
  display: flex;
  gap: 8px;
  position: fixed;
  bottom: 20px;
  width: 100%;
  max-width: 400px;
}

#msg-input {
  flex: 1;
}

body.dark .msg {
  background: #222;
  color: #eee;
}

body.dark .me {
  background: #ff5577;
  color: #fff;
}